*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block1{
    background-color: rgba(67, 237, 81, 0.934);
    width: 500px;
    height: 500px;
    border-radius: 100%;
    position: fixed;
    top: 50px;
    left: 50px;
}

.block2{
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: fixed;
    top: 150px;
    left: 150px;       
}

.block3{
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: fixed;
    top: 150px;
    left: 350px;       
}

.block4{
    background-color: white;
    width: 70px;
    height: 70px;
    position: fixed;
    top: 280px;
    left: 265px;    
}

.block5{
    background-color: white;
    width: 200px;
    height: 20px;
    position: fixed;
    top: 410px;
    left: 200px;    
}