*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block1{
    background-color: red;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 2;

}

.block2{
    background-color: blue;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 110px;
    left: 110px;   
    z-index: 1; 
}

.block3{
    background-color: green;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 170px;
    left: 170px;    
}